{% extends 'base.html.twig' %}

{% block title %}New Ticket{% endblock %}

{% block body %}
<div class="my-5">
<div align="center" class="mx-auto" style="width: 350px;">
    <h1>Create new ticket</h1>
<h2>
    {{ include('ticket/_form.html.twig') }}
</h2>
</div>
</div>
{% endblock %}
