{% extends 'base.html.twig' %}

{% block title %}New Ticket{% endblock %}

{% block body %}
<div class="my-5">
<div align="center" class="mx-auto" style="width: 250px;">

<div class="card border-secondary mb-3" style="width: 13rem;">
  <div class="card-body text-secondary">
        <h2 class="card-text">New ticket</h2>
  </div>
</div>
    <h3 align="justify">
{{ include('ticket/_form.html.twig') }}
    </h3>
</div>
</div>
{% endblock %}
