{% extends 'base.html.twig' %}
 {% block title %}Create project{% endblock %}

{% block body %}
<div class="my-5">
<div align="center" class="mx-auto" style="width: 300px;">
    <div class="card border-secondary mb-3" style="width: 14rem;">
        <div class="card-body text-secondary">
            <h2 class="card-text">Project</h2>
        </div>
    </div>
<h3>
{{ form(form) }}
</h3>
</div>
</div>
{% endblock %}
