{% extends 'base.html.twig' %}
 {% block title %}My Stuff{% endblock %}

{% block body %}
<p class="my-4"><h1 align="center" class="text-dark" >My Stuff</h1></p>

<table class="table table-bordered">
  <thead class="thead-light">
    <tr align="center">
      <th scope="col">Ticket name</th>
      <th scope="col">Creator</th>
      <th scope="col">Comments</th>
      <th scope="col">Tags</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
      <tr align="center">
        <th class="align-middle" scope="row">1</th>
        <td class="align-middle">11</td>
        <td class="align-middle">11</td>
        <td class="align-middle">11</td>
      </tr>
  </tbody>
</table>


{% endblock %}
